langchain==0.3.15
langchain-community==0.3.15
langchain-core==0.3.31
langchain-huggingface>=0.1.0
langchain-groq
langchain-text-splitters
faiss-cpu
pypdf
pymupdf
python-dotenv
fastapi
uvicorn[standard]
python-multipart